* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: rgb(111, 111, 207);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: black;
    text-decoration: none;
}

.hero {
    background-color: rgb(78, 71, 177);
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: rgb(67, 50, 161);
    text-align: center;
    padding: 2opx 0;
}